/* .counter {
    background-color: red; 
     display: flex; 
    justify-content: center;
    font-size: 23px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(270deg, #33353a 15%, #000 65%);
    color: rgb(235, 229, 222);
} */